node_modules/

.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

ios/
android/
Pods/
.kotlin/

.metro-cache/
.metro-health-check*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.orig.*

.env
.env.*
.env.local
.env.*.local

*.tsbuildinfo

.DS_Store
Thumbs.db

.vscode/
.idea/

*.pem
*.p8
*.p12
*.mobileprovision
*.jks
*.keystore
